.bmi-calculator-container {
    background-image: url('https://apac-f-dev-ed--c.develop.vf.force.com/resource/1690533818000/backgroundImage');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: BLACK;
  }
  
  .bmi-container {
    width: 90%;
    max-width: 400px; /* Set maximum width for larger screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background: #040720;
    border: 1px solid;
    border-radius: 13px;
    padding: 40px;
  }
  .result{
    margin-top: 10%;
    color: white;
  }
  
  /* Add a media query for smaller screens */
  @media only screen and (max-width: 600px) {
    .bmi-container {
      padding: 20px;
    }
  }
  
  .bmi-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .bmi-info-card {
    margin-top: 30px;
    background: #192841;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid black;
  }
  
  h1 {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: xx-large;
    color:white;
  }
  
  h4 {
    margin-bottom: 10px;
    font-weight: 900;
  }
  h3{
    color:white
  }
  
  label {
    font-weight: bold;
    color:white;
  }
  
  input {
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    padding: 8px 16px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  